{% if site.data.data.awards %}
<section class="section experiences-section">
  <h2 class="section-title"><i class="fa fa-certificate"></i>{{site.data.data.certifications.title}}</h2>

  <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="17d39ce4-ce80-4a3c-ac7d-92041ef9511d"></div><script type="text/javascript" async src="//cdn.youracclaim.com/assets/utilities/embed.js"></script>

  <a href="https://learn.microsoft.com/api/credentials/share/en-us/rmacias/1F02398A6E7288B?sharingId=A761B0ECF252E145" target="_blank" rel="noopener noreferrer">
    <img src="/assets/images/badge_ai_fundamentals.png"
        alt="Microsoft Certified: Azure AI Fundamentals (AI-900)"
        style="height: 120px; width: auto; border: 0;" />
  </a>


</section>
{% endif %}
